In [4]:
#libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import pickle
from pytz import timezone
from datetime import datetime, date, timedelta
import sqlalchemy as db
import matplotlib.pyplot as plt
import numpy as np
import pymysql

#documents
import api_keys

# Scraping Demographic Data

In [7]:
# scrape information about each city from Wikipedia
def demographic_data():
    
    demographic_data = pd.DataFrame()
    cities = ['Lisbon', 'Berlin', 'Paris', 'Rome', 'London', 'Vienna', 'Athens', 'Copenhagen', 'Barcelona', 'Munich', 'Warsaw', 'Prague', 'Marseille']
    coordinates= []
    countries = []
    state = []
    population = []

 
    for city in cities:
        url = f'https://en.wikipedia.org/wiki/{city}'
        response = requests.get(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, "html.parser")

            for e in soup.select('table.infobox tbody tr td'):
                if e.text.startswith('Coordinates: '):
                    coordinates.append(e.text.split('/')[-1].split(';'))
                    break

            country_found = False
            state_found = False
            population_found=False
            

            for e in soup.select('table.infobox tbody tr th'):
                if e.text == 'Country':
                    countries.append(e.find_next_sibling('td').get_text())
                    country_found = True
                    break

            for e in soup.select('table.infobox tbody tr th'):
                if e.text == 'State':
                    state.append(e.find_next_sibling('td').get_text())
                    state_found = True
                    break

            if not state_found:
                state.append('None')
                
            for e in soup.select('table.infobox tbody tr th'):
                if e.text.startswith('Population'):
                    for e in e.parent.find_next_siblings():
                        if 'Metro' in e.text:
                            population.append(e.select('td')[0].get_text())
                            population_found = True
                            break
            

            if not population_found:
                population.append('None')
                
    latitude = [coord[0] for coord in coordinates]
    longitude = [coord[1] for coord in coordinates]

    demographic_data = pd.DataFrame({'city': cities, 
                                 'state': state,
                                 'country' : countries,
                                 'population' : population,
                                 'longitude' : longitude,
                                 'latitude' : latitude})
    
    demographic_data['city_id'] = demographic_data.index
    demographic_data['population'] = demographic_data['population'].str.replace(r'(\[\d+\])', '', regex = True)
    demographic_data['population'] = demographic_data['population'].str.replace(r'\([^)]*\)', '', regex = True)
    demographic_data['country'] = demographic_data['country'].str.replace(r'(\[\w+\])', '', regex = True)
    demographic_data['population'] = demographic_data['population'].str.replace(r'\,', '', regex = True)
    
    return demographic_data

In [8]:
demographic_data = demographic_data()
demographic_data

,city,state,country,population,longitude,latitude,city_id
0,Lisbon,None,Portugal,2871133,-9.15000,38.72528,0
1,Berlin,Berlin,Germany,6144600,13.40500,52.52000,1
2,Paris,None,France,13024518,2.35222,48.85667,2
3,Rome,None,Italy,4342212,12.48278,41.89333,3
4,London,None,England,14800000,-0.12750,51.50722,4
5,Vienna,None,Austria,2890577,16.37250,48.20833,5
6,Athens,None,Greece,3638281,23.72806,37.98417,6
7,Copenhagen,None,Denmark,2135634,12.56833,55.67611,7
8,Barcelona,None,Spain,5474482,2.17694,41.38278,8
9,Munich,Bavaria,Germany,5991144,11.57500,48.13750,9
10,Warsaw,None,Poland,3100844,21.01111,52.23000,10
11,Prague,None,Czech Republic,2709418,14.42139,50.08750,11
12,Marseille,None,France,1879601,5.37,43.2964,12

# Weather

In [21]:
#get weather data through API based on a list of citynames

def weather_data_list():

    API_key = api_keys.open_weather_api_key
    cities = ['Lisbon', 'Berlin']

    weather_dict = {'city': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': []}

    for city in cities:
        url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
        response = requests.get(url)
        json = response.json()

        for i in json['list']:
            weather_dict['city'].append(json['city']['name'])
            weather_dict['forecast_time'].append(i['dt_txt'])
            weather_dict['outlook'].append(i['weather'][0]['main'])
            weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
            weather_dict['temperature'].append(i['main']['temp'])
            weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
            weather_dict['clouds'].append(i['clouds']['all'])
            try:
                weather_dict['rain'].append(i['rain']['3h'])
            except:
                weather_dict['rain'].append('0')
            try:
                weather_dict['snow'].append(i['snow']['3h'])
            except:
                weather_dict['snow'].append('0')
            weather_dict['wind_speed'].append(i['wind']['speed'])
            weather_dict['wind_deg'].append(i['wind']['deg'])
            weather_dict['humidity'].append(i['main']['humidity'])
            weather_dict['pressure'].append(i['main']['pressure'])
    weather_data = pd.DataFrame(weather_dict)
            
    city_ids = []
    for i, row in weather_data.iterrows():
        city_name = row['city']
        if city_name in cities:
            city_id1 = cities.index(city_name)
            city_ids.append(city_id1)  
    weather_data['city_id'] = city_ids

    weather_data.rename(columns={'City' : 'city', 'Timestamp': 'timestamp', 'Temperature':'temp', 'Max_Temperature': 'temp_max', 'Min_Temperature' : 'temp_min', 'Feels_Like' : 'feels_like', 'Clouds': 'clouds', 'Weather' : 'weather', 'Wind_Speed' : 'windspeed'}, inplace=True)
    

    return weather_data

In [22]:
weather_data = weather_data_list()
weather_data

,city,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,city_id
0,Lisbon,2023-08-09 12:00:00,Clouds,few clouds,23.94,24.06,20,0,0,3.84,245,64,1017,0
1,Lisbon,2023-08-09 15:00:00,Clouds,scattered clouds,24.55,24.63,33,0,0,5.22,267,60,1017,0
2,Lisbon,2023-08-09 18:00:00,Clouds,scattered clouds,23.89,23.98,27,0,0,4.92,291,63,1018,0
3,Lisbon,2023-08-09 21:00:00,Clear,clear sky,20.66,20.90,0,0,0,3.88,316,81,1021,0
4,Lisbon,2023-08-10 00:00:00,Clear,clear sky,19.70,19.84,0,0,0,2.83,339,81,1021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Berlin,2023-08-13 21:00:00,Rain,moderate rain,21.56,22.04,95,4.85,0,1.34,43,87,1017,1
76,Berlin,2023-08-14 00:00:00,Rain,moderate rain,20.73,21.26,97,3.11,0,1.33,58,92,1017,1
77,Berlin,2023-08-14 03:00:00,Rain,light rain,19.99,20.53,100,0.13,0,1.82,38,95,1016,1
78,Berlin,2023-08-14 06:00:00,Rain,light rain,20.82,21.31,83,1.08,0,1.55,53,90,1017,1
79,Berlin,2023-08-14 09:00:00,Rain,light rain,22.74,23.26,98,0.72,0,2.98,56,84,1016,1

In [24]:
#get weather data through API based on a dataframe

API_key = api_keys.open_weather_api_key

weather_dict = {'city': [],
            'forecast_time': [],
            'outlook': [],
            'detailed_outlook': [],
            'temperature': [],
            'temperature_feels_like': [],
            'clouds': [],
            'rain': [],
            'snow': [],
            'wind_speed': [],
            'wind_deg': [],
            'humidity': [],
            'pressure': []}

for index , row in cities_df.iterrows():
    city = row['city_name']
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()

    for i in json['list']:
        weather_dict['city'].append(json['city']['name'])
        weather_dict['forecast_time'].append(i['dt_txt'])
        weather_dict['outlook'].append(i['weather'][0]['main'])
        weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
        weather_dict['temperature'].append(i['main']['temp'])
        weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
        weather_dict['clouds'].append(i['clouds']['all'])
        try:
            weather_dict['rain'].append(i['rain']['3h'])
        except:
            weather_dict['rain'].append('0')
        try:
            weather_dict['snow'].append(i['snow']['3h'])
        except:
            weather_dict['snow'].append('0')
        weather_dict['wind_speed'].append(i['wind']['speed'])
        weather_dict['wind_deg'].append(i['wind']['deg'])
        weather_dict['humidity'].append(i['main']['humidity'])
        weather_dict['pressure'].append(i['main']['pressure'])
weather_data = pd.DataFrame(weather_dict)


#alternative to append the city_id if it is not important that the column keeps the datatype integer        
#weather_data = weather_data.merge(cities_df, on='city_name', how='inner')
#weather_data#['city_id'] = weather_data['city_id'].astype(int)

city_ids = []
for i, row in weather_data.iterrows():
    city_name = row['city']
    matching_city = cities_df[cities_df['city_name'].str.contains(city_name, case=False)]
    if not matching_city.empty:
        city_id = matching_city['city_id'].iloc[0]
        city_ids.append(city_id)
    else:
        city_ids.append(10000000000000)  

weather_data['city_id'] = city_ids

weather_data

,city,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,city_id
0,Lisbon,2023-08-09 12:00:00,Clouds,few clouds,24.25,24.38,20,0,0,3.84,245,63,1017,0
1,Lisbon,2023-08-09 15:00:00,Clouds,scattered clouds,24.76,24.83,33,0,0,5.22,267,59,1017,0
2,Lisbon,2023-08-09 18:00:00,Clouds,scattered clouds,23.99,24.09,27,0,0,4.92,291,63,1018,0
3,Lisbon,2023-08-09 21:00:00,Clear,clear sky,20.66,20.90,0,0,0,3.88,316,81,1021,0
4,Lisbon,2023-08-10 00:00:00,Clear,clear sky,19.70,19.84,0,0,0,2.83,339,81,1021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,Arrondissement de Marseille,2023-08-13 21:00:00,Clear,clear sky,22.26,22.06,6,0,0,0.78,268,58,1017,10000000000000
516,Arrondissement de Marseille,2023-08-14 00:00:00,Clear,clear sky,21.67,21.43,4,0,0,0.50,335,59,1016,10000000000000
517,Arrondissement de Marseille,2023-08-14 03:00:00,Clear,clear sky,21.11,20.79,0,0,0,1.37,74,58,1015,10000000000000
518,Arrondissement de Marseille,2023-08-14 06:00:00,Clear,clear sky,21.18,20.84,0,0,0,0.54,110,57,1016,10000000000000
519,Arrondissement de Marseille,2023-08-14 09:00:00,Clear,clear sky,24.82,24.56,1,0,0,2.36,187,46,1016,10000000000000

# Airports

In [25]:
#find out the airports in the radius of 50km around the cities

def airport_icao ():
    results = []
    
    for index, row in demographic_data.iterrows():
        lat = row['latitude']
        long = row['longitude']
        city = row['city']
        
        url = "https://aviation-reference-data.p.rapidapi.com/airports/search"
        
        querystring = {"lat": lat,"lon": long,"radius":"50"}

        headers = {
            "X-RapidAPI-Key": api_keys.rapid_API_key,
            "X-RapidAPI-Host": "aviation-reference-data.p.rapidapi.com"
        }

        response = (requests.get(url, headers=headers, params=querystring)).json()
        
        for i in range(len(response)):
            output = {'city' : city,
                      'iataCode' : response[i]['iataCode'],
                      'icaoCode' : response[i]['icaoCode'],
                      'name': response[i]['name'],
                      'CountryCode': response[i]['alpha2countryCode'],
                      'latitude' : response[i]['latitude'],
                      'longitude': response[i]['longitude']}
                      #'distance_to_airport_km': geodesic((lat, long), (response[i]['latitude'], response[i]['longitude'])).kilometers}
            results.append(output)

    icao_df = pd.DataFrame(results)
    
    return icao_df

In [28]:

airports_df = airport_icao()

#append city_id column
city_ids = []
for i, row in airports_df.iterrows():
    city_name = row['city']
    matching_city = cities_df[cities_df['city_name'].str.contains(city_name, case=False)]
    if not matching_city.empty:
        city_id = matching_city['city_id'].iloc[0]
        city_ids.append(city_id)
    else:
        city_ids.append(10000000000000) 
airports_df['city_id'] = city_ids

#rename the columns so they match the columns in the sql database
airports_df.rename(columns = {'iataCode' : 'iata_code', 'icaoCode' : 'icao_code', 'name' : 'airport_name', 'CountryCode' : 'country_code'}, inplace = True)
airports_df

,city,iata_code,icao_code,airport_name,country_code,latitude,longitude,city_id
0,Lisbon,CAT,LPCS,Cascais Tires,PT,38.7219,-9.35360,0
1,Lisbon,LIS,LPPT,Lisbon,PT,38.7742,-9.13420,0
2,Lisbon,AVR,LPAR,Alverca,PT,38.8831,-9.03000,0
3,Berlin,BER,None,BRANDENBURG,DE,52.3621,13.50170,1
4,Berlin,SXF,EDDB,SCHOENEFELD,DE,52.3800,13.52250,1
5,Berlin,THF,None,Berlin Tempelhof Apt,DE,52.4736,13.40170,1
6,Berlin,TXL,EDDT,TEGEL,DE,52.5597,13.28770,1
7,Berlin,GWW,None,Berlin Royal Air Force Gatow,DE,52.4833,13.13330,1
8,Berlin,QPK,EDAY,STRAUSBERG,DE,52.5803,13.91720,1
9,Paris,CDG,LFPG,Paris/ Ch.de Gaulle,FR,49.0097,2.54780,2
10,Paris,TNF,LFPN,Toussus-Le-Noble,FR,48.7497,2.11110,2
11,Paris,CSF,LFPC,Creil,FR,49.2536,2.51920,2
12,Paris,DLP,None,Disneyland Paris Heliport,FR,48.8667,2.80000,2
13,Paris,VIY,LFPV,Paris Villacoublay-Velizy Villacoublay-,FR,48.7742,2.19170,2
14,Paris,JDP,LFPI,Paris Issy Les Moulineaux Hp,FR,48.8333,2.27280,2
15,Paris,JPU,None,Paris La Defense H/P,FR,48.7333,2.55000,2
16,Paris,LBG,LFPB,Paris Le Bourget Apt,FR,48.9694,2.44140,2
17,Paris,ORY,LFPO,Paris,FR,48.7233,2.37940,2
18,Paris,POX,LFPT,Paris Pontoise-Cormeilles Apt,FR,49.0967,2.04080,2
19,Rome,CIA,LIRA,Rome Ciampino Apt,IT,41.7989,12.59500,3
20,Rome,FCO,LIRF,Rome,IT,41.8003,12.23890,3
21,London,BQH,EGKB,BIGGIN HILL,GB,51.3308,0.03250,4
22,London,STN,EGSS,STANSTED,GB,51.8850,0.23500,4
23,London,WEM,None,West Malling,GB,51.3000,0.41670,4
24,London,HTF,None,Hatfield,GB,51.7650,-0.24830,4
25,London,HYC,EGUH,AIR PARKER BOOKER,GB,51.6333,-0.76667,4
26,London,LCY,EGLC,CITY AIRPORT,GB,51.5053,0.05528,4
27,London,LGW,EGKK,GATWICK,GB,51.1561,-0.17818,4
28,London,LHR,EGLL,HEATHROW,GB,51.4729,-0.45061,4
29,London,LTN,EGGW,LUTON,GB,51.8747,-0.36833,4
30,London,NHT,EGWU,RAF STATION,GB,51.5530,-0.41817,4
31,London,RCS,EGTO,ROCHESTER,GB,51.3519,0.50333,4
32,Vienna,VIE,LOWW,Vienna,AT,48.1103,16.57810,5
33,Athens,HEW,None,Athens Hellinikon Airport,GR,37.9472,23.81440,6
34,Athens,ATH,LGAV,Athens,GR,37.9364,23.94440,6
35,Copenhagen,CPH,EKCH,Copenhagen,DK,55.6203,12.65030,7
36,Copenhagen,JHE,None,Angelholm/Helsingborg Heliport,SE,56.0500,12.70000,7
37,Copenhagen,JLD,None,Landskrona,SE,55.9500,12.86670,7
38,Copenhagen,JMM,None,Malmo Harbour Heliport,SE,55.6167,13.00000,7
39,Copenhagen,RKE,EKRK,Copenhagen Roskilde Apt,DK,55.5858,12.13170,7
40,Barcelona,BCN,LEBL,AIRPORT,ES,41.2969,2.07833,8
41,Munich,FEL,None,FUERSTENFELDBRUCK,DE,48.2056,11.26610,9
42,Munich,MUC,EDDM,MUNICH INTERNATIONAL,DE,48.3538,11.78610,9
43,Munich,OBF,EDMO,OBERPFAFFENHOFEN,DE,48.0814,11.28310,9
44,Warsaw,WAW,EPWA,Warsaw,PL,52.1658,20.96720,10
45,Warsaw,WMI,EPMO,Nowy Dwor Mazowiecki Modlin,PL,52.4511,20.65170,10
46,Prague,VOD,LKVO,Prague Vodochody,CZ,50.2167,14.39560,11
47,Prague,PRG,LKPR,Prague,CZ,50.1008,14.26000,11
48,Marseille,CTT,LFMQ,Le Castellet,FR,43.2522,5.78610,12
49,Marseille,MRS,LFML,Marseille,FR,43.4367,5.21500,12

# Flights

In [30]:
#using API aviationstack to get flight data

def flight_arrival(df):
    results = []
    
    for index, row in df.iterrows():
        icao = row['icao_code']
        city = row['city']
        
        url = 'http://api.aviationstack.com/v1/flights'
        
        params = {'access_key': api_keys.aviationstack_api_key, 'arr_icao' : icao}

        response_aviationstack = requests.get(url, params=params).json()
        
        for i in range(len(response_aviationstack['data'])):
            output = {'city' : city,
                      'icaoCode' : icao,
                      'flight_date': response_aviationstack['data'][i]['flight_date'],
                      'departure_airport' :response_aviationstack['data'][i]['departure']['airport'],
                      'arrival_scheduled': response_aviationstack['data'][i]['arrival']['scheduled'],
                      'arrival_estimated': response_aviationstack['data'][i]['arrival']['estimated'],
                      'arrival_airport' : response_aviationstack['data'][i]['arrival']['airport'],
                      'airline' : response_aviationstack['data'][i]['airline']['name'],
                      'flightnumber_iata' : response_aviationstack['data'][i]['flight']['iata'],
                      }
                      
            results.append(output)

    flights_df = pd.DataFrame(results)

    flights_df['flight_id'] = flights_df.index
    flights_df.rename(columns = {'icaoCode' : 'icao_code'}, inplace = True)
    flights_df.to_pickle('flights_arrival_df.pickle')
    
    return flights_df

In [31]:
flights_arrivals_df = flight_arrival(airports_df)

flights_arrivals_df

# with open('city_airport_chris.pickle','rb')as f:
#   city_airportsKM=pickle.load(f)

,city,icao_code,flight_date,departure_airport,arrival_scheduled,arrival_estimated,arrival_airport,airline,flightnumber_iata,flight_id
0,Lisbon,LPCS,2023-08-09,Portimao,2023-08-09T17:55:00+00:00,2023-08-09T17:55:00+00:00,None,Sevenair,WV954,0
1,Lisbon,LPCS,2023-08-09,None,2023-08-09T17:39:00+00:00,2023-08-09T17:39:00+00:00,None,empty,None,1
2,Lisbon,LPCS,2023-08-09,Viseu,2023-08-09T16:10:00+00:00,2023-08-09T16:10:00+00:00,None,Sevenair,WV953,2
3,Lisbon,LPCS,2023-08-09,Portimao,2023-08-09T10:55:00+00:00,2023-08-09T10:55:00+00:00,None,Sevenair,WV952,3
4,Lisbon,LPCS,2023-08-09,Mohamed V,2023-08-09T11:02:00+00:00,2023-08-09T11:02:00+00:00,None,Air Hamburg,None,4
...,...,...,...,...,...,...,...,...,...,...
3271,Marseille,LFML,2023-08-09,Charles De Gaulle,2023-08-09T13:05:00+00:00,2023-08-09T13:05:00+00:00,Marseille Provence Airport,Gol,G35030,3271
3272,Marseille,LFML,2023-08-09,Charles De Gaulle,2023-08-09T13:05:00+00:00,2023-08-09T13:05:00+00:00,Marseille Provence Airport,Etihad Airways,EY5858,3272
3273,Marseille,LFML,2023-08-09,Charles De Gaulle,2023-08-09T13:05:00+00:00,2023-08-09T13:05:00+00:00,Marseille Provence Airport,Delta Air Lines,DL8558,3273
3274,Marseille,LFML,2023-08-09,Charles De Gaulle,2023-08-09T13:05:00+00:00,2023-08-09T13:05:00+00:00,Marseille Provence Airport,Finnair,AY6313,3274
3275,Marseille,LFML,2023-08-09,Charles De Gaulle,2023-08-09T13:05:00+00:00,2023-08-09T13:05:00+00:00,Marseille Provence Airport,Aeromexico,AM5937,3275

In [ ]:
#additional: append city_id as new column to df
city_ids = []
for i, row in flights_arrivals_df.iterrows():
    city_name = row['city']
    if city_name in cities:
        city_id1 = cities.index(city_name)
        city_ids.append(city_id1)   
flights_arrivals_df['city_id'] = city_ids


flights_arrivals_df

# Additional static dataframes

In [32]:
cities_airports = airports_df[['city_id', 'city', 'airport_name', 'icao_code' ]].copy()
cities_airports.head()

   city_id    city   airport_name icao_code
0        0  Lisbon  Cascais Tires      LPCS
1        0  Lisbon         Lisbon      LPPT
2        0  Lisbon        Alverca      LPAR
3        1  Berlin    BRANDENBURG      None
4        1  Berlin    SCHOENEFELD      EDDB

## Create dataframe cities

In [23]:
cities_df = demographic_data[['city_id', 'city']].copy()
cities_df.rename(columns={'city':'city_name'}, inplace=True)
cities_df

    city_id   city_name
0         0      Lisbon
1         1      Berlin
2         2       Paris
3         3        Rome
4         4      London
5         5      Vienna
6         6      Athens
7         7  Copenhagen
8         8   Barcelona
9         9      Munich
10       10      Warsaw
11       11      Prague
12       12   Marseille

# Connect to MySQL

## Creating a connection to the local instance

In [22]:
schema="mydb"
host="127.0.0.1"
user="root"
password= api_keys.my_sql_password
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [23]:
engine = db.create_engine(f"mysql+mysqlconnector://root:{password}@localhost/mydb?charset=utf8mb4", echo=True)
connection = engine.connect()

In [25]:
#insert tables in sql database

# cities_df.to_sql('cities', con=con, if_exists='append', index=False)
# cities_airports.to_sql('cities_airports', con=con, if_exists='append', index=False)
# weather_data.to_sql('weather', con=con, if_exists='append', index=False)
# result_df1.to_sql('flights', con=con, if_exists='append', index=False)
# result_df.to_sql('airports', con=con, if_exists='append', index=False)
# demographic_data.to_sql('demographic_data', con=con, if_exists='append', index=False)

In [26]:
#query tables
result=connection.execute("SELECT * from cities_airports")

2023-08-04 11:53:28,076 INFO sqlalchemy.engine.Engine SELECT * from cities_airports
2023-08-04 11:53:28,079 INFO sqlalchemy.engine.Engine [raw sql] {}

In [27]:
print(result.fetchall())

[(0, 'Alverca', 'LPAR', 'Lisbon'), (0, 'Cascais Tires', 'LPCS', 'Lisbon'), (0, 'Lisbon', 'LPPT', 'Lisbon')]

## Creating a connection to AWS Database

In [31]:
schema="wbs-project-3"
host="wbs-project3-db.chofzj8c7a0m.eu-central-1.rds.amazonaws.com"
user="admin"
password= api_keys.my_sql_password_aws
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

AttributeError: module 'api_keys' has no attribute 'my_sql_password_aws'

In [12]:
engine_aws = db.create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{schema}?charset=utf8mb4", echo=True)
connection_aws = engine_aws.connect()

2023-08-09 09:48:19,134 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-08-09 09:48:19,136 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-08-09 09:48:19,200 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-08-09 09:48:19,201 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-08-09 09:48:19,229 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-08-09 09:48:19,231 INFO sqlalchemy.engine.Engine [raw sql] {}

In [14]:
#insert tables in sql database
cities_df.to_sql('cities', con=con, if_exists='append', index=False)
cities_airports.to_sql('cities_airports', con=con, if_exists='append', index=False)
weather_data.to_sql('weather', con=con, if_exists='append', index=False)
flights_arrivals_df.to_sql('flights', con=con, if_exists='append', index=False)
airports_df.to_sql('airports', con=con, if_exists='append', index=False)
demographic_data.to_sql('demographic_data', con=con, if_exists='append', index=False)

NameError: name 'cities_airports' is not defined